.file {
  display: none !important;
}

.preview-image {
  display: none;
  height: 500px;
}

.email-participant {
  display: none;
}

#link-poll {
  display: none;
}

#poll-limit {
  display: none;
}

#password-poll {
  display: none;
}

#search-text {
  cursor: move;
}

#form-search {
  display: none;
}

.avatar-list {
  height: 50px;
  width: 50px;
}

.avatar-new {
  height: 150px;
  width: 150px;
}

.image-option-edit {
  width: 200px;
  height: 200px;
}

.setting-advance {
  display: none;
}

.preview-image {
  display: none;
  height: 200px;
  margin-top: 20px;
  width: 200px;
}
