.file {
    display: none !important;
}

//.preview-image {
//    display: none;
//    height: 500px;
//}

.email-participant {
    display: none;
}

#link-poll {
    display: none;
}

#poll-limit {
    display: none;
}

#password-poll {
    display: none;
}

.poll-details {
    margin-right: 10px;
}

.poll-option-detail {
    margin-top: 20px !important;
    float: left;
}

.poll-option-detail-not-image {
    margin-top: 5px !important;
    float: left;
}

.option-name {
    display: block;
    margin-left: 20px;
}

.img-comment {
    width: 50px;
    height: 50px;
}

.show-message {
    color: green;
}

.comment {
    margin-top: 10px;
}

.social-share {
    margin: 20px;
}

.poll-history {
    color: blue;
}

li {
    list-style-type: none;
}

.show {
    float: right;
}

.message-validate {
    color: red;
}

.img-errors {
    width: 80%;
    height: 450px;
}

#myModal .modal-dialog
{
    width: 90%;
}

.btn-model {
    float: right;
}

.nopadding {
   padding: 0 !important;
   margin: 0 !important;
}

.border {
    border-top: 1px solid #ddd;
}

.comments {
    max-height: 300px;
    overflow: scroll;
}

.user-comment {
    color: blue;
    word-wrap: break-word;
}

.comment-text {
    word-wrap: break-word;
}

.img-option {
    width: 50px;
    height: 50px;
}

.dropbtn {
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 250px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.btn-administration {
    border-radius: 0 !important;
    background: darkcyan;
    color: white;
    transition: all 1s;
    -moz-transition: all 1s;
    -webkit-transition: all 1s;
    -o-transition: all 1s;
}

.btn-administration:hover {
    box-shadow: 2px 2px 2px black;
    background: orange;
    color: white !important;
}

.btn-administration:active {
    color: white !important;
}

.btn-administration:focus {
    color: white !important;
}


.lastest-poll-message {
    color: green;
}

.comment-name-validate {
    color: red;
}

.comment-content-validate {
    color: red;
}

.disable-link {
   pointer-events: none;
   cursor: default;
}

.img-profile {
    width: 100px;
    height: 100px;
}

/*CHART*/
#chart_div {
    max-width: 900px;
    height: 500px;
    overflow: scroll;
    //float: left;
}

#chart {
    max-width: 900px;
    height: 500px;
    overflow: scroll;
    //float: right;
}

.message-validation {
    color: red;
}

.scroll-result {
    max-height: calc(100vh - 212px);
    overflow-y: scroll;
}

.details-poll {
    display: none;
}

#option-detail {
    display: none;
}

#setting-detail {
    display: none;
}

.all-poll-user {
    border-radius: 0 !important;
    float: right;
}

.img-profile-header {
    width: 20px;
    height: 20px;
}

.required-password {
    margin: 10px;
}

.btn-right {
    float: right;
}

.loader {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: url('../uploads/images/loader.gif') 50% 50% no-repeat rgb(249,249,249);
    opacity: 0.6;
}

.label-close-poll {
    background-color:#cb2027;
    color:#fff;
}
.label-reopen-poll {
    background-color:#2c4762;
    color:#fff;
}

.btn-social-custom {
    margin-bottom: 4px;
}

.wrap-text {
    word-wrap: break-word;
    white-space: normal;
}

.message-infor-detail {
    background: white;
    border-color: white;
    border-radius: 0;
    color: green;
    margin-bottom: 0;
}

.panel-result-detail {
    background: #e9e9e9;
}

.pagination {
    margin: 0;
}

.highcharts-axis-labels span {
    left: 0 !important;
}
.highcharts-tooltip span {
    height:auto !important;
    width:200px !important;
    overflow:auto !important;
    white-space:normal !important;
    text-align: center !important;
}

.option-image-bar-chart {
    float: left;
    border-radius: 50%;
}

.option-name-bar-chart {
    display: block;
}

.chart-detail-image {
    width: 150px;
    height: 150px;
    display: block;
    margin: auto;
}

.chart-detail-name {
    text-align: center;
}

.highcharts-legend-item {
    word-break: break-all !important;
    word-wrap: break-word !important;
}
