.file {
    display: none !important;
}

.email-participant {
    display: none;
}

#link-poll {
    display: none;
}

#poll-limit {
    display: none;
}

#password-poll {
    display: none;
}

.poll-details {
    margin-right: 10px;
}

.poll-option-detail {
    margin-top: 20px !important;
    float: left;
}

.poll-option-detail-not-image {
    margin-top: 5px !important;
    float: left;
}

.option-name {
    display: block;
    margin-left: 20px;
}

.img-comment {
    width: 50px;
    height: 50px;
}

.show-message {
    color: green;
}

.comment {
    margin-top: 10px;
}

.social-share {
    margin: 20px;
}

.poll-history {
    color: blue;
}

li {
    list-style-type: none;
}

.show {
    float: right;
}

.message-validate {
    color: red;
}

.img-errors {
    width: 80%;
    height: 450px;
}

#myModal .modal-dialog
{
    width: 90%;
}

.btn-model {
    float: right;
}

.nopadding {
   padding: 0 !important;
   margin: 0 !important;
}

.border {
    border-top: 1px solid #ddd;
}

.comments {
    max-height: 300px;
    overflow: scroll;
}

.user-comment {
    color: blue;
    word-wrap: break-word;
}

.comment-text {
    word-wrap: break-word;
}

.img-option {
    width: 50px;
    height: 50px;
}

.dropbtn {
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 250px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.btn-administration {
    border-radius: 0 !important;
    background: darkcyan;
    color: white;
    transition: all 1s;
    -moz-transition: all 1s;
    -webkit-transition: all 1s;
    -o-transition: all 1s;
}

.btn-administration:hover {
    box-shadow: 2px 2px 2px black;
    background: orange;
    color: white !important;
}

.btn-administration:active {
    color: white !important;
}

.btn-administration:focus {
    color: white !important;
}


.lastest-poll-message {
    color: green;
}

.comment-name-validate {
    color: red;
}

.comment-content-validate {
    color: red;
}

.disable-link {
   pointer-events: none;
   cursor: default;
}

.img-profile {
    width: 100px;
    height: 100px;
}

/*CHART*/
#chart_div {
    max-width: 900px;
    height: 500px;
    overflow: scroll;
    //float: left;
}

#chart {
    max-width: 900px;
    height: 500px;
    overflow: scroll;
    //float: right;
}

.message-validation {
    color: red;
}

.scroll-result {
    max-height: calc(100vh - 212px);
    overflow-y: scroll;
}

.details-poll {
    display: none;
}

#option-detail {
    display: none;
}

#setting-detail {
    display: none;
}

.all-poll-user {
    border-radius: 0 !important;
    float: right;
}

.img-profile-header {
    width: 20px;
    height: 20px;
}

.required-password {
    margin: 10px;
}

.btn-right {
    float: right;
}

.loader {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: url('../../uploads/images/loader.gif') 50% 50% no-repeat rgb(249,249,249);
    opacity: 0.6;
}

.label-close-poll {
    background-color:#cb2027;
    color:#fff;
}
.label-reopen-poll {
    background-color:#2c4762;
    color:#fff;
}

.btn-social-custom {
    margin-bottom: 4px;
}

.wrap-text {
    word-wrap: break-word;
    white-space: normal;
}

.message-infor-detail {
    background: white;
    border-color: white;
    border-radius: 0;
    color: green;
    margin-bottom: 0;
}

.panel-result-detail {
    background: #e9e9e9;
}

.pagination {
    margin: 0;
}

.highcharts-axis-labels span {
    left: 0 !important;
}
.highcharts-tooltip span {
    height:auto !important;
    width:200px !important;
    overflow:auto !important;
    white-space:normal !important;
    text-align: center !important;
}

.option-image-bar-chart {
    float: left;
    border-radius: 50%;
}

.option-name-bar-chart {
    display: block;
}

.chart-detail-image {
    width: 150px;
    height: 150px;
    display: block;
    margin: auto;
}

.chart-detail-name {
    text-align: center;
}

.highcharts-legend-item {
    word-break: break-all !important;
    word-wrap: break-word !important;
}

.chooseDate, .not-choose-date {
    color: #2c2c2c !important;
    display: inline-block;
    text-decoration: none !important;
    &:hover {
        color: #000 !important;
        text-decoration: none;
    }
}

.wrapper-choose-image {
    left: 5px;
    input[type=text] {
        width: 100%;
        height: 30px;
    }
    #input-file-image {
        display: block;
        visibility: hidden;
        width: 0;
        height: 0;
    }
    .vote-preview-wrapper {
        border: 1px solid #ccc;
        transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
        border-top: none;
        .render-img {
            display: none;
            margin: 5px;
            height: 130px;
            max-width: calc(100% - 70px);
        }
    }
    .vote-span-camera {
        width: 30px !important;
        height: 30px !important;
        right: 0 !important;
        top: 0;
        position: absolute;
        text-align: center;
        font-size: 20px;
        z-index: 3;
        cursor: pointer;
        transition: all .15s ease-in;
        &:hover {
            background-color: #008b8b;
            .fa-picture-o {
                color: #f0f0f0;
            }
        }
        .fa-picture-o {
            top: 3px;
            color: #969696;
        }
    }
    .deleteImg {
        position: absolute;
        top: 50px;
        right: 12px;
        font-size: 20px;
        color: #969696;
        cursor: pointer;
        transition: all .15s ease-in;
        display: none;
        &:hover {
            color: #d64541;
        }
    }
}

.parent-vote-new-option {
    min-height: 50px;
    margin-left: 21px;
    margin-right: 15px;
    padding: 0;
    padding-top: 5px;
    .box-media-image {
        margin-top: 0;
    }
}

.option-name p {
    margin: 0;
}

.parent-vote-new-option {
    border: none;
    .wrapper-choose-image {
        left: 5px;
        input[type=text] {
            width: 100%;
            height: 30px;
        }

        .vote-span-camera {
            width: 30px !important;
            height: 30px !important;
            right: 0 !important;
            top: 0;
            position: absolute;
            text-align: center;
            font-size: 20px;
            z-index: 3;
            cursor: pointer;
            transition: all .15s ease-in;
            &:hover {
                background-color: #008b8b;
                .fa-picture-o {
                    color: #f0f0f0;
                }
            }
            .fa-picture-o {
                top: 3px;
                color: #969696;
            }
        }
    }

    .date-time-picker {
        .text-new-option {
            border-radius: 0;
        }
        .btn-darkcyan-not-shadow {
            border-radius: 0;
        }
    }

    #input-file-image {
        display: block;
        visibility: hidden;
        width: 0;
        height: 0;
    }
}

.vote-preview-wrapper {
    border: 1px solid rgb(204, 204, 204);
    border-top: none;
    position: relative;
    margin: 0 1px 1px 20px;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    border-top: none;
    .render-img {
        padding: 5px;
        max-height: 130px;
        max-width: calc(100% - 70px);
    }
    .deleteImg {
        position: absolute;
        top: 5px;
        left: 130px;
        font-size: 22px;
        color: #969696;
        cursor: pointer;
        transition: all .15s ease-in;
        &:hover {
            color: #d64541;
        }
    }
}

.option-name p {
    margin: 0;
}

.pick-date {
    border-left: 0;
}

#voters-modal,
#frame-upload-image,
#frame-edit-poll,
#frame-upload-image-edit,
#myModal {
    .modal-dialog {
        .modal-header {
            padding: 0;
            margin: 15px 15px 0 15px;
            .sub-tab {
                padding-bottom: 8px;
                border-bottom: 2px solid #cc181e;
                display: inline-block;
                margin-bottom: -1px;
            }
            .sel {
                font-size: 16px;
            }
        }

        .modal-body {
            @media screen and (max-width: 768px) {
                padding: 10px 0 0 0;
            }
            .btn-darkcyan-not-shadow {
                border-radius: 0;
            }
        }

        .modal-content {
            border-radius: 0;
            .win-img {
                .photo-tb {
                    background-color: darkcyan;
                    border-bottom: 1px solid #009c9c;
                    .photo-tb-url {
                        position: relative;
                        padding-right: 0;
                        .add-link-image-group {
                            padding: 10px 0 5px 10px;
                            @media screen and (max-width: 992px) {
                                padding: 10px 25px 5px 10px;
                            }
                            .photo-tb-url-txt
                            .photo-tb-url-txt-edit {
                                width: 100%;
                                border-radius: 0;
                                border-right: 0;
                                &:active, &:focus {
                                    outline: none !important;
                                    -webkit-appearance: none;
                                }
                            }
                            .add-image-by-link,
                            .add-image-by-link-edit {
                                position: absolute;
                                padding: 6px 15px;
                                font-size: 14px;
                                font-weight: 400;
                                cursor: pointer;
                                color: #fff;
                                text-align: center;
                                border: 1px solid #5bc0de;
                                top: 10px;
                                right: 0;
                                @media screen and (max-width: 992px) {
                                    right: 25px;
                                }
                                &:hover {
                                    background-color: #4dbbdb;
                                }
                            }
                        }
                    }
                    .photo-tb-btn {
                        float: left;
                        font-size: 15px;
                        cursor: pointer;
                        width: 50%;
                        text-align: center;
                        border-left: 1px dotted #41afff;
                        color: #fff;
                        padding: 5px 10px;
                        &:hover {
                            background-color: rgba(0,0,0,.1);
                        }
                        .fa {
                            font-size: 22px;
                        }
                        p {
                            margin-bottom: 0;
                            color: #a4d9ff;
                            text-transform: uppercase;
                            font-size: 9px;
                            padding-top: 5px;
                        }
                    }
                }

                .photo-preivew {
                    position: relative;
                    right: 0;
                    border: 0;
                    background-color: #e6e5e5;
                    margin-top: 10px;
                    text-align: center;
                    img {
                        max-height: 350px;
                        max-width: 100%;
                    }
                }
            }
        }

        .modal-footer {
            @media screen and (max-width: 768px) {
                border: none;
                padding-top: 5px;
            }
            .btn {
                border-radius: 0;
                color: #fff;
                &:focus, &:active {
                    outline: none !important;
                }
            }
            .btn-yes,
            .btn-yes-edit,
            .btn-edit-submit {
                background-color: darkcyan;
                &:hover {
                    background-color: #009c9c;
                }
            }
            .btn-no {
                background-color: #b92c28;
                &:hover {
                    background-color: #9d2522;
                }
            }
        }
    }
}

#frame-edit-poll .modal-dialog {
    @media screen and (min-width: 768px) {
        width: 720px;
    }
}

#voters-modal .modal-dialog {
    @media screen and (min-width: 768px) {
        width: 350px;
    }
}

.thumbOption {
    max-height: 130px;
}

#voters-modal.modal.fade .modal-dialog,
#frame-edit-poll.modal.fade .modal-dialog,
#frame-upload-image.modal.fade .modal-dialog {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    // -webkit-transform: translate3d(0, -100px, 0);
    // transform: translate3d(0, -100px, 0);
    top: 80px;
    opacity: 0;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    transition: all .3s ease;
}

#voters-modal.modal.fade.in .modal-dialog,
#frame-edit-poll.modal.fade.in .modal-dialog,
#frame-upload-image.modal.fade.in .modal-dialog {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
    opacity: 1;
}

#frame-edit-poll {
    .render-img {
        max-height: 90px;
    }

    .modal-body {
        padding-bottom: 0;
    }
}

/**
 * Frame Image For Option
 */

$darkcolor: #1f2933;
$frame-padding: 5px;

.box-media-image,
.box-media-image-option {
    display: none;
    position: relative;
    margin-top: 8px;
    margin-left: 5px;
    .media-image {
        width: auto;
        img {
            display: block;
        }
        &:hover {
            .cz-label {
              padding-left: 1em;
            }
        }
    }
    .deleteImg {
        position: absolute;
        font-size: 22px;
        color: #969696;
        cursor: pointer;
        top: 0;
        right: -22px;
        -moz-transition: all .15s ease-in;
        -webkit-transition: all .15s ease-in;
        transition: all .15s ease-in;
        &:hover {
            color: #d64541;
        }
    }
}

.box-frame {
    margin-left: 25px;
}

.image-frame {
    position: relative;
    padding: $frame-padding;
    background-color: #FFF;
    box-shadow: 0 1px 2px rgba($darkcolor,.5);
    &:after {
        content: '';
        display: block;
        position: absolute;
        top: $frame-padding;
        right: $frame-padding;
        bottom: $frame-padding;
        left: $frame-padding;
        box-shadow: 0 0 30px rgba($darkcolor,.25) inset;
        z-index: 10;
    }
}

.cz-label {
    position: absolute;
    top: $frame-padding *-1;
    left: $frame-padding *-1;
    display: inline-block;
    padding: 0 0.75em;
    border-radius: 5px 2px 2px 0;
    text-transform: uppercase;
    letter-spacing: .1em;
    font-size: 12px;
    font-size: 0.75rem;
    line-height: 2.35em;
    font-weight: bold;
    color: #6b4e00;
    background-color: #ffc938;
    z-index: 11;
    border-radius: 5px 2px 2px 0;
    box-shadow: 0px 2px 0 rgba($darkcolor,.1);
    transition: all 0.1s;
    &:before {
        content: " ";
        display: block;
        position: absolute;
        width: 5px;
        height: 4px;
        left: 0;
        bottom: -4px;
        background-color: #ffc938;
    }
    &:after {
        content: " ";
        display: block;
        position: absolute;
        width: 5px;
        height: 6px;
        bottom: -6px;
        left: 0;
        background-color: #9e7300;
        border-radius: 5px 0 0 5px;
    }
}

.setting-10 {
    display: none;
}

.cz-progress {
    background-color: #fff;
    background-image: -webkit-linear-gradient(to bottom,#fff 0,#fff 100%);
    background-image: linear-gradient(to bottom,#fff 0,#fff 100%);
}

.cz-panel {
    border-radius: 0;
}

.voters {
    margin-top: 5px;
    margin-left: 20px;
    .voter-avatar {
        float: left;
        margin-right: 3px;
        &:hover {
            cursor: pointer;
        }
        .hidden-counter,
        img {
            display: block;
            width: 25px;
            height: 25px;
            border-radius: 100%;
            max-width: 3.75rem;
            max-height: 3.75rem;
            margin: 0 auto;
        }
        .hidden-counter {
            background-color: #337ab7;
            text-align: center;
            font-size: 10px;
            line-height: 24px;
            color: #fff;
            padding-top: 1px;
        }
    }
}

.listing-sppoll {
    max-height: 350px;
    overflow: auto;
    .voters-row {
        background-color: #fff;
        margin-bottom: 10px;
        .voters-box {
            display: flex;
            color: #000;
            background-color: #fff;
            border-left: 4px solid #fff;
            transition: all .3s;
            padding: 5px 10px;
            &:hover {
                background-color: #fff;
                border-left: 4px solid darkcyan;
            }
            .search-avatar {
                position: relative;
                flex: none;
                margin-right: 10px;
                img {
                    width: 38px;
                    height: 38px;
                }
            }
            .poll-info {
                display: block;
                flex: 1 100%;
                .poll-title {
                    font-size: 16px;
                    line-height: 21px;
                    display: block;
                    background: darkcyan;
                    padding: 10px 10px 10px 34px;
                    position: relative;
                    word-break: break-word;
                    text-align: left;
                    border-radius: 5px;
                    color: #fff;
                    margin-bottom: 3px;
                    &:before {
                        content: '';
                        position: absolute;
                        pointer-events: none;
                        width: 10px;
                        height: 10px;
                        background: darkcyan;
                        border-width: 1px 1px 0 0;
                        transform: rotate(-135deg);
                        left: -5px;
                        top: 15px;
                    }
                    &:after {
                        content: '';
                        position: absolute;
                        pointer-events: none;
                        width: 8px;
                        border: 1px solid #fff;
                        border-width: 0 1px;
                        top: 0;
                        bottom: 0;
                        left: 14px;
                    }

                }
                .poll-detail {
                    display: block;
                    color: #666;
                }
            }
        }
    }
}

.result-poll {
    margin-right: 3px;
}

.option-date {
    font-size: 13px;
    tbody,
    tfoot {
        tr {
            td {
                border: 1px solid #fff !important;
                padding: 5px 5px 5px 10px;
            }
        }
    }
    .opsep.pn {
        background-color: #ffccca;
    }

    .opsep.pop {
        background-color: #d1f3d1;
        text-align: center;
    }

    .opsep.pn,
    .opsep.pop {
        border: 2px solid #fff;
    }
}

.msep,
.dsep,
.hsep,
.hname,
.hemail {
    background-color: darkcyan;
    color: #fff;
    border-right: 1px dotted #fff !important;
    border-bottom: 1px dotted #fff !important;
}

.nsep,
.esep {
    background-color: #ececec;
    color: #000;
}

.hsep {
    text-align: center;
    .fa-minus {
        font-size: 8px;
    }
}

.msep,
.dsep,
.hname,
.hemail {
    font-weight: 700;
}

.opsep.pop {
    .fa-check {
        font-size: 15px;
        color: #1b926c;
    }
}

.header.date.month {
    td[colspan='2'] {
        width: 35%;
    }
}

.voters-td {
    float: left;
}

.duplication:focus,
.duplication  {
    outline: none;
    border-color: #a94442;
    box-shadow: 0 0 1.5px #a94442;
}

.description-poll {
    text-align: justify;
    font-size: 13px;
    font-style: italic;
}

.bootstrap-switch span::before {
    position: absolute;
}

textarea#description {
    resize: vertical;
}

.config-option {
    margin-left: 15px;
}

.config-option-edit {
    margin-left: 10px;
}

.config-option,
.config-option-edit {
    margin-bottom: 8px;
}

.box-error-create {
    margin-bottom: 0;
}

.image-option-detail {
    display: inline-block;
    margin-top: 5px;
    margin-left: 30px;
    .thumbOption {
        max-height: 70px;
    }
}

.perform-option {
    border: none;
    padding: 5px 5px 0px 5px;
    min-height: auto;
    border-bottom: 1px solid #dbdbdb;
    margin-bottom: 0;
    z-index: 2;
    &.not-description {
        padding-bottom: 30px;
    }
    &:after {
        content: "";
    }
    &:first-child {
        border-radius: 0;
    }
    &:last-child {
        border: 0;
    }
    .radio {
        margin-bottom: 0px !important;
        label {
            color: #555555;
            font-weight: 500;
            font-size: 16px;
            &:hover {
                color: #141414;
            }
        }
    }
}

.td-choose-option {
    background-color: #e2ebf2;
    text-align: center;
    padding: 5px 5px 5px 10px;
    border-right: 1px solid #fff;
    .checkbox,
    .radio {
        margin: 0px;
        text-align: center;
    }
}

.tb-option {
    margin: 0;
}

.nav-border {
    margin-bottom: 10px;
    border-bottom: 2px solid darkcyan;
}

.panel-default {
    border-color: #dbdbdb;
}

.panel-detail-poll,
.panel-vote-option,
.panel-vote-option {
    border-top: none;
}

#horizontal {
    .horizontal-overflow {
        &:before {
            position: absolute;
            top: 32px;
            bottom: 0;
            left: 28px;
            z-index: 1;
            display: block;
            width: 3px;
            content: "";
            background-color: #dedede;
        }
    }
}

#vertical {
    overflow: auto;
    max-height: 500px;
}

.table>tbody+tbody {
    border-top: none;
}

#timeline {
    overflow-x: auto;
    max-height: 500px;
    position: relative;
}

table.option-date > thead > tr > td {
    border: 1px solid #fff;
}

.td-text {
    background-color: darkcyan;
    border-right: 1px solid #fff;
    border-bottom: 1px solid #fff;
    color: #fff;
    padding: 8px;
}

.fix-td {
    td {
        background-color: darkcyan;
        color: #fff;
    }
}

.td-empty {
    background-color: darkcyan;
    color: #fff;
}

.td-not-bg {
    background-color: #fff !important;
}

.voters-fix {
    margin: 0;
}

.image-option-detail-fix {
    margin-left: 5px;
}

.search-row {
    margin-bottom: 10px;
}

.search-row {
    @media screen and (max-width: 640px) {
        width: 100% !important;
    }
}

.search-voters-box {
    margin-bottom: 5px;
}

/* CSS: CUSTOM CHECKBOX + RADIO BOOSTRAP*/
.checkbox {
  padding-left: 20px;
}

.checkbox label {
    display: inline-block;
    vertical-align: middle;
    position: relative;
    padding-left: 5px;
}
.checkbox label::before {
    content: "";
    display: inline-block;
    position: absolute;
    width: 17px;
    height: 17px;
    left: 0;
    margin-left: -20px;
    border: 1px solid #cccccc;
    border-radius: 3px;
    background-color: #fff;
    -webkit-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
    -o-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
    transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
}
.checkbox label::after {
    display: inline-block;
    position: absolute;
    width: 16px;
    height: 16px;
    left: 0;
    top: 0;
    margin-left: -20px;
    padding-left: 3px;
    padding-top: 1px;
    font-size: 11px;
    color: #555555;
}
.checkbox input[type="checkbox"],
.checkbox input[type="radio"] {
    opacity: 0;
    z-index: 1;
    cursor: pointer;
}
.checkbox input[type="checkbox"]:focus + label::before,
.checkbox input[type="radio"]:focus + label::before {
    outline: thin dotted;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
}
.checkbox input[type="checkbox"]:checked + label::after,
.checkbox input[type="radio"]:checked + label::after {
    font-family: "FontAwesome";
    content: "\f00c";
}
.checkbox input[type="checkbox"]:indeterminate + label::after,
.checkbox input[type="radio"]:indeterminate + label::after {
    display: block;
    content: "";
    width: 10px;
    height: 3px;
    background-color: #555555;
    border-radius: 2px;
    margin-left: -16.5px;
    margin-top: 7px;
}
.checkbox input[type="checkbox"]:disabled,
.checkbox input[type="radio"]:disabled {
    cursor: not-allowed;
}
.checkbox input[type="checkbox"]:disabled + label,
.checkbox input[type="radio"]:disabled + label {
    opacity: 0.65;
}
.checkbox input[type="checkbox"]:disabled + label::before,
.checkbox input[type="radio"]:disabled + label::before {
    background-color: #eeeeee;
    cursor: not-allowed;
}
.checkbox.checkbox-circle label::before {
    border-radius: 50%;
}
.checkbox.checkbox-inline {
    margin-top: 0;
}

.checkbox-primary input[type="checkbox"]:checked + label::before,
.checkbox-primary input[type="radio"]:checked + label::before {
    background-color: #337ab7;
    border-color: #337ab7;
}
.checkbox-primary input[type="checkbox"]:checked + label::after,
.checkbox-primary input[type="radio"]:checked + label::after {
    color: #fff;
}

.checkbox-danger input[type="checkbox"]:checked + label::before,
.checkbox-danger input[type="radio"]:checked + label::before {
    background-color: #d9534f;
    border-color: #d9534f;
}
.checkbox-danger input[type="checkbox"]:checked + label::after,
.checkbox-danger input[type="radio"]:checked + label::after {
    color: #fff;
}

.checkbox-info input[type="checkbox"]:checked + label::before,
.checkbox-info input[type="radio"]:checked + label::before {
    background-color: #5bc0de;
    border-color: #5bc0de;
}
.checkbox-info input[type="checkbox"]:checked + label::after,
.checkbox-info input[type="radio"]:checked + label::after {
    color: #fff;
}

.checkbox-warning input[type="checkbox"]:checked + label::before,
.checkbox-warning input[type="radio"]:checked + label::before {
    background-color: #f0ad4e;
    border-color: #f0ad4e;
}

.checkbox-warning input[type="checkbox"]:checked + label::after,
.checkbox-warning input[type="radio"]:checked + label::after {
    color: #fff;
}

.checkbox-success input[type="checkbox"]:checked + label::before,
.checkbox-success input[type="radio"]:checked + label::before {
    background-color: #5cb85c;
    border-color: #5cb85c;
}

.checkbox-success input[type="checkbox"]:checked + label::after,
.checkbox-success input[type="radio"]:checked + label::after {
    color: #fff;
}

.checkbox-primary input[type="checkbox"]:indeterminate + label::before,
.checkbox-primary input[type="radio"]:indeterminate + label::before {
    background-color: #337ab7;
    border-color: #337ab7;
}

.checkbox-primary input[type="checkbox"]:indeterminate + label::after,
.checkbox-primary input[type="radio"]:indeterminate + label::after {
    background-color: #fff;
}

.checkbox-danger input[type="checkbox"]:indeterminate + label::before,
.checkbox-danger input[type="radio"]:indeterminate + label::before {
    background-color: #d9534f;
    border-color: #d9534f;
}

.checkbox-danger input[type="checkbox"]:indeterminate + label::after,
.checkbox-danger input[type="radio"]:indeterminate + label::after {
    background-color: #fff;
}

.checkbox-info input[type="checkbox"]:indeterminate + label::before,
.checkbox-info input[type="radio"]:indeterminate + label::before {
    background-color: #5bc0de;
    border-color: #5bc0de;
}

.checkbox-info input[type="checkbox"]:indeterminate + label::after,
.checkbox-info input[type="radio"]:indeterminate + label::after {
    background-color: #fff;
}

.checkbox-warning input[type="checkbox"]:indeterminate + label::before,
.checkbox-warning input[type="radio"]:indeterminate + label::before {
    background-color: #f0ad4e;
    border-color: #f0ad4e;
}

.checkbox-warning input[type="checkbox"]:indeterminate + label::after,
.checkbox-warning input[type="radio"]:indeterminate + label::after {
    background-color: #fff;
}

.checkbox-success input[type="checkbox"]:indeterminate + label::before,
.checkbox-success input[type="radio"]:indeterminate + label::before {
    background-color: #5cb85c;
    border-color: #5cb85c;
}

.checkbox-success input[type="checkbox"]:indeterminate + label::after,
.checkbox-success input[type="radio"]:indeterminate + label::after {
    background-color: #fff;
}

.radio {
    padding-left: 20px;
}

.radio label {
    display: inline-block;
    vertical-align: middle;
    position: relative;
    padding-left: 5px;
}

.radio label::before {
    content: "";
    display: inline-block;
    position: absolute;
    width: 17px;
    height: 17px;
    left: 0;
    margin-left: -20px;
    border: 1px solid #cccccc;
    border-radius: 50%;
    background-color: #fff;
    -webkit-transition: border 0.15s ease-in-out;
    -o-transition: border 0.15s ease-in-out;
    transition: border 0.15s ease-in-out;
}

.radio label::after {
    display: inline-block;
    position: absolute;
    content: " ";
    width: 11px;
    height: 11px;
    left: 3px;
    top: 3px;
    margin-left: -20px;
    border-radius: 50%;
    background-color: #555555;
    -webkit-transform: scale(0, 0);
    -ms-transform: scale(0, 0);
    -o-transform: scale(0, 0);
    transform: scale(0, 0);
    -webkit-transition: -webkit-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
    -moz-transition: -moz-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
    -o-transition: -o-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
    transition: transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
}

.radio input[type="radio"] {
    opacity: 0;
    z-index: 1;
    cursor: pointer;
}

.radio input[type="radio"]:focus + label::before {
    outline: thin dotted;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
}

.radio input[type="radio"]:checked + label::after {
    -webkit-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    -o-transform: scale(1, 1);
    transform: scale(1, 1);
}

.radio input[type="radio"]:disabled {
    cursor: not-allowed;
}

.radio input[type="radio"]:disabled + label {
    opacity: 0.65;
}

.radio input[type="radio"]:disabled + label::before {
    cursor: not-allowed;
}

.radio.radio-inline {
    margin-top: 0;
}

.radio-primary input[type="radio"] + label::after {
  background-color: #337ab7;
}

.radio-primary input[type="radio"]:checked + label::before {
    border-color: #337ab7;
}

.radio-primary input[type="radio"]:checked + label::after {
    background-color: #337ab7;
}

.radio-danger input[type="radio"] + label::after {
    background-color: #d9534f;
}

.radio-danger input[type="radio"]:checked + label::before {
    border-color: #d9534f;
}

.radio-danger input[type="radio"]:checked + label::after {
    background-color: #d9534f;
}

.radio-info input[type="radio"] + label::after {
    background-color: #5bc0de;
}

.radio-info input[type="radio"]:checked + label::before {
    border-color: #5bc0de;
}

.radio-info input[type="radio"]:checked + label::after {
    background-color: #5bc0de;
}

.radio-warning input[type="radio"] + label::after {
    background-color: #f0ad4e;
}

.radio-warning input[type="radio"]:checked + label::before {
    border-color: #f0ad4e;
}

.radio-warning input[type="radio"]:checked + label::after {
    background-color: #f0ad4e;
}

.radio-success input[type="radio"] + label::after {
    background-color: #5cb85c;
}

.radio-success input[type="radio"]:checked + label::before {
    border-color: #5cb85c;
}

.radio-success input[type="radio"]:checked + label::after {
    background-color: #5cb85c;
}

input[type="checkbox"].styled:checked + label:after,
input[type="radio"].styled:checked + label:after {
    font-family: 'FontAwesome';
    content: "\f00c";
}

input[type="checkbox"] .styled:checked + label::before,
input[type="radio"] .styled:checked + label::before {
    color: #fff;
}

input[type="checkbox"] .styled:checked + label::after,
input[type="radio"] .styled:checked + label::after {
    color: #fff;
}

.inline-edit {
    .glyphicon {
        position: inherit;
    }
    a {
        &:hover {
            text-decoration: none;
            .glyphicon-pencil {
                color: #285f8f;
            }
            .glyphicon-trash {
                color: #843534;
            }
        }
    }
}

.left-align {
    text-align: left !important;
}

.action-edit {
    width: 60px;
    max-width: 60px;
}

.des-quill-editor {
    &.ql-container {
        margin-top: 10px;
    }
    .ql-editor {
        border-left: 4px solid rgba(0, 0, 0, 0.4);
        padding-bottom: 0;
    }
    .ql-tooltip {
        z-index: 1;
    }
}

.box-des-option {
    margin-top: 5px;
    .is-active {
        transition: visibility 0s linear 0s, opacity .1s, width 0s linear 0s;
        visibility: visible;
        opacity: 1;
    }

    .inline-tooltip-menu {
        display: inline-block;
        padding-left: 12px;
        .btn-scale {
            transform: scale(0);
            transition-property: transform;
            transition-duration: .1s;
            &:nth-child(2) {
                transition-delay: 30ms !important;
            }
        }
    }

    .btn-rotate {
        transform: rotate(0);
        transition: transform .1s;
    }

    .is-scale {
        .btn-rotate {
            transition: transform 250ms;
            transform: rotate(45deg);
        }
        .inline-tooltip-menu {
            .btn-scale {
                transform: scale(1);
                transition-duration: .2s;
            }
        }
    }

    .btn {
        border-radius: 999em;
        border: 1px solid rgba(0, 0, 0, 0.15);
        background-color: #fff;
        color: rgba(0, 0, 0, 0.6);
        width: 28px;
        height: 28px;
        text-align: center;
        padding: 0;

        &:focus, &:active {
            border-color: rgba(0,0,0,.9);
            color: rgba(0,0,0,.9);
            outline: 0;
        }

        i {
            height: 28px;
            width: 28px;
            line-height: 27px;
            font-size: 16px;
            padding-right: 1px;
        }
    }
}

.des-child-option {
    padding: 5px 10px 5px 10px;
    background-color: rgba(0, 0, 0, 0.03);
    margin-left: 16px;
    border-bottom: 1px solid rgb(222, 222, 222);
    border-top: 1px solid rgb(222, 222, 222);
    border-right: 1px solid rgb(222, 222, 222);
    .description-body {
        padding-left: 10px;
        &.show-more {
            max-height: 80px;
            overflow: hidden;
        }

        p {
            margin: 0 !important;
        }
    }
    .item-description-icon {
        z-index: 2;
        float: left;
        width: 20px;
        height: 20px;
        margin-left: -21px;
        margin-top: -8px;
        line-height: 20px;
        color: #fff;
        text-align: center;
        background-color: #9c9c9c;
        border: 1px solid #fff;
        position: relative;
        font-size: 8px;
        i {
            margin-left: 1px;
        }
    }
}

.btn-show-more {
    display: block;
    margin-top: 10px;
    width: 100%;
    height: 28px;
    border: solid 1px transparent;
    padding: 0 10px;
    outline: 0;
    font-weight: 500;
    font-size: 11px;
    text-decoration: none;
    white-space: nowrap;
    word-wrap: normal;
    line-height: normal;
    vertical-align: middle;
    cursor: pointer;
    border-radius: 2px;
    background-color: rgb(247, 247, 247);
    border-top: 1px solid #e2e2e2;
    text-transform: uppercase;
    color: #767676;
    &:hover {
        color: #222;
    }
}

.is-description {
    border-bottom: none;
}

