.file {
    display: none !important;
}

.preview-image {
    display: none;
    height: 500px;
}

.email-participant {
    display: none;
}

#link-poll {
    display: none;
}

#poll-limit {
    display: none;
}

#password-poll {
    display: none;
}

.poll-details {
    margin-left: 10px;
}

.poll-option {
    padding: 5px;
}

.img-comment {
    width: 50px;
    height: 50px;
}

.show-message {
    color: green;
}

.comment {
    margin-top: 10px;
}

.social-share {
    margin: 20px;
}

.poll-history {
    color: blue;
}

li {
    list-style-type: none;
}

.show {
    float: right;
}

.message-validate {
    color: red;
}

.img-errors {
    width: 80%;
    height: 450px;
}

#myModal .modal-dialog
{
    width: 90%;
}

.btn-model {
    float: right;
}

.nopadding {
   padding: 0 !important;
   margin: 0 !important;
}

.border {
    border-top: 1px solid #ddd;
}

.user-comment {
    color: blue;
}

.img-option {
    width: 100px;
    height: 100px;
}

.dropbtn {
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 250px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.btn-administration {
    float: right;
    margin-left: 20px;
}

.lastest-poll-message {
    color: green;
}

.comment-name-validate {
    color: red;
}

.comment-content-validate {
    color: red;
}

.disable-link {
   pointer-events: none;
   cursor: default;
}
